<web-app
        version="3.1"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        metadata-complete="false"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>

    <data-source>
        <name>java:ds/demods</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://0.0.0.0:6603/test?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
        <!--<url>jdbc:mysql://db/CryptoPol?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>-->
        <user>root</user>
        <password>pass123</password>
    </data-source>
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>dev-kupnxeql.auth0.com</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>X8LwHsSthW4yDsw4ndOoHD23qHCPPvQK</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>YOUR_CLIENT_SECRET</param-value>
    </context-param>
</web-app>